In [2]:
import pandas as pd
import numpy as np

In [3]:
# 1
df=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/housingdata.csv")
print(df.head(6))

           PID        STATE      PRICE NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0           MP     321654            3        1  1000
1  100002000.0  MAHARASHTRA      21325            3      1.5    --
2  100003000.0           AP    2541654          NaN        1   850
3  100004000.0           TN     321321            1      NaN   700
4          NaN           TN  589465645            3        2  1600
5  100006000.0           TN   65465466          NaN        1   800

In [4]:
# 2
print([i for i in df.columns])
print([i for i in df.index])

['PID', 'STATE', 'PRICE', 'NUM_BEDROOMS', 'NUM_BATH', 'SQ_FT']
[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [5]:
# 3
print(df['STATE'].shape)
print(df["STATE"].nunique())

(9,)
6

In [6]:
#4
print(df.isnull())

     PID  STATE  PRICE  NUM_BEDROOMS  NUM_BATH  SQ_FT
0  False  False  False         False     False  False
1  False  False  False         False     False  False
2  False  False  False          True     False  False
3  False  False  False         False      True  False
4   True  False  False         False     False  False
5  False  False  False          True     False  False
6  False  False  False         False     False  False
7  False  False  False         False     False   True
8  False  False  False         False     False  False

In [7]:
#5
df1 = df[df.NUM_BEDROOMS != 'na']
print(df1)
print(df1["NUM_BEDROOMS"].dropna())

           PID        STATE      PRICE NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0           MP     321654            3        1  1000
1  100002000.0  MAHARASHTRA      21325            3      1.5    --
2  100003000.0           AP    2541654          NaN        1   850
3  100004000.0           TN     321321            1      NaN   700
4          NaN           TN  589465645            3        2  1600
5  100006000.0           TN   65465466          NaN        1   800
6  100007000.0        ASSAM    3222321            2   HURLEY   950
7  100008000.0           HP      23131            1        1   NaN
0    3
1    3
3    1
4    3
6    2
7    1
Name: NUM_BEDROOMS, dtype: object

In [8]:
#6
df.loc[6, "NUM_BATH"] = np.NaN
df["NUM_BATH"].fillna(method="ffill",inplace =True)
print(df)

           PID        STATE      PRICE NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0           MP     321654            3        1  1000
1  100002000.0  MAHARASHTRA      21325            3      1.5    --
2  100003000.0           AP    2541654          NaN        1   850
3  100004000.0           TN     321321            1        1   700
4          NaN           TN  589465645            3        2  1600
5  100006000.0           TN   65465466          NaN        1   800
6  100007000.0        ASSAM    3222321            2        1   950
7  100008000.0           HP      23131            1        1   NaN
8  100009000.0           HP      21212           na        2  1800

In [9]:
#7
df.loc[1,"SQ_FT"] = np.NaN

df2=df.copy()
df2.dropna(subset=["SQ_FT"],inplace=True)
df2['SQ_FT'] = df2['SQ_FT'].astype(int)
a = df2['SQ_FT'].mean()

df["SQ_FT"].fillna(a,inplace =True)
df['SQ_FT'] = df['SQ_FT'].astype(float)
print(df)

           PID        STATE      PRICE NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0           MP     321654            3        1  1000.0
1  100002000.0  MAHARASHTRA      21325            3      1.5  1100.0
2  100003000.0           AP    2541654          NaN        1   850.0
3  100004000.0           TN     321321            1        1   700.0
4          NaN           TN  589465645            3        2  1600.0
5  100006000.0           TN   65465466          NaN        1   800.0
6  100007000.0        ASSAM    3222321            2        1   950.0
7  100008000.0           HP      23131            1        1  1100.0
8  100009000.0           HP      21212           na        2  1800.0

In [10]:
#8
df['SQ_FT'].sum()

9900.0

In [11]:
#9
num_store = [1,1,1,1,1,1,1,1,1]
df['NUM_STORE'] = num_store
print(df)

           PID        STATE      PRICE NUM_BEDROOMS NUM_BATH   SQ_FT  \
0  100001000.0           MP     321654            3        1  1000.0
1  100002000.0  MAHARASHTRA      21325            3      1.5  1100.0
2  100003000.0           AP    2541654          NaN        1   850.0
3  100004000.0           TN     321321            1        1   700.0
4          NaN           TN  589465645            3        2  1600.0
5  100006000.0           TN   65465466          NaN        1   800.0
6  100007000.0        ASSAM    3222321            2        1   950.0
7  100008000.0           HP      23131            1        1  1100.0
8  100009000.0           HP      21212           na        2  1800.0

   NUM_STORE
0          1
1          1
2          1
3          1
4          1
5          1
6          1
7          1
8          1

In [12]:
#10
df3= df[df['STATE'] == "TN"]

In [13]:
#14
SQ_FT_1000 = df[df['SQ_FT'] > 1000]

In [14]:
#15
df4 = df.loc[0:2,'PID':'PRICE']

In [62]:
#16
df["ppa"]=df['PRICE']/df['SQ_FT']
df6=df
a=list(df["STATE"].unique())
b=list(df["STATE"])
# print(b)
# for i in a:
#   print(i)
a=df["STATE"].unique()
e=[]
for i in a:
  df7=df6[df6['STATE']==i]
  d=np.sum(df7['ppa'])/(b.count(i))
  e.append(d)
  # print(d)
# print(e)
f=np.max(e)
g=e.index(f)
a1=list(a)
print(a[g])

TN